{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                   <h1 style="font-size: 4.5rem;">ToDo</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form  method="post" class="p-3 shadow">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="task" placeholder="Taskname">
                </div> <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="priority" placeholder="enter your priority">
                </div> <br> 
                <div class="form-group">
                    <input type="date" class="form-control" name="date" placeholder="enter your date">
                </div> <br> 
                <div class="form-group">
                    <input type="submit" class="btn btn-success">
                </div> 
            </form> 
        </div>
        <div class="col-md-6">
            <h3>TASK TO BE COMPLETED</h3>
            {% for i in task %}
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><b>{{i.priority}}</b></p>
                    <p><b>{{i.date}}</b></p>
                    <a href="{% url 'delete' i.id %}" class="btn btn-info">Done</a>
                    <a href="{% url 'update' i.id %}" class="btn btn-success">Edit</a>
                </div>
            </div> <br>
            {% endfor %}  
        </div>
    </div>
</div>

  
  {% endblock %}